body, html {
  height: 100%;
  margin: 0;
}

.limiter {
  height: 100%;
}

.wrap-content {
  background: #fff;
  padding: 50px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-option {
  background-color: #57b846;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
  margin: 5px;
  transition: 0.3s;
}

.btn-option:hover {
  background-color: #45a049;
}

.btn-option:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body {
  background: #264653;
  background: -webkit-linear-gradient(-135deg, #264653, #a8dadc);
  background: -o-linear-gradient(-135deg, #264653, #a8dadc);
  background: -moz-linear-gradient(-135deg, #264653, #a8dadc);
  background: linear-gradient(-135deg, #264653, #a8dadc);
}
